.search-container {
    background-color: var(--background-secondary);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 9px;
}

.close-button {
    background-color: transparent;
}

.search-result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.highlight {
    background-color: yellow; 
    border: 1px solid red;
    padding: 2px;         
}

.hashtag-button {
    display: block;
    border: none;
    background: transparent;
    padding: 0 100% 10px 0;
    /* margin: 0 0 10px 0; */
    color: var(--text-muted);
}

.hashtag-button:hover {
    background-color: var(--interactive-hover);
    color: var(--text-normal);
  }