.chat-floating {
    position: fixed;
    width: 450px;
    max-height: 700px;
    background: var(--background-secondary, white);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
    max-height: 700px;
    overflow-y: auto;
}

.chat-header {
    padding: 10px;
    background: #f0f0f0;
    font-weight: bold;
    cursor: move;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.chat-input-bar {
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: var(--background-secondary);
}
  

.chat-input {
    width: 400px;
    padding: 8px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.chat-message {
    max-width: 70%;
    padding: 8px 12px;
    border-radius: 12px;
    margin-bottom: 20px;
    word-wrap: break-word;
}
  
  .chat-message-user {
    align-self: flex-end;
    background-color: #4caf50;
    color: white;
    margin-left: auto;
}
  
  .chat-message-bot {
    align-self: flex-start;
    background-color: #e0e0e0;
    color: black;
    margin-right: auto;
}

.chat-messages-container {
    overflow-y: auto;
    height: 500px;
}