
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.editor {
  flex: 6;
  min-width: 0;
  height: 100%;
}

.preview {
  flex: 4;
  flex-grow: 1;
  background-color: #e0e0e0;
  min-width: 0;
  height: 100%;
}
