.tab-bar {
  display: flex;
  background-color: var(--background-tertiary);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  overflow-x: auto;
  height: 40px;
  width: 100%;
}

.tab-bar::-webkit-scrollbar {
  height: 1;
  width: 1;
  background: transparent;}

.tab-bar::-webkit-scrollbar-thumb {
  background-color: var(--interactive-normal);
  border-radius: 3px;
}

.tab-bar::-webkit-scrollbar-track {
  background-color: var(--background-secondary);
}

.tab-bar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}